# Folder view configuration files
*.DS_Store
*.LSOverride
Desktop.ini

# Ignore db exports
*.sql
*.dump
*.sql.gz
*.sql.zip

# Ignore unclean applied patch leftover files
*.rej
*.orig

.docksal/docksal-local.*

# Thumbnail cache files
._*
Thumbs.db
.bundle

# Files that might appear on external disks
.Spotlight-V100
.Trashes
